// The numbers provided here will be the denominators of the grid
$grid-sizes: 2, 3, 4, 5, 6, 8, 12, 15;

// Pixels for breathe
$breathe-sizes: 10px, 20px, 40px, 80px, 120px;

$main-color: #87D37C;
$menu-link-color: #666;

$notice-color-error: #c0392b;
$notice-color-error-text: #ecf0f1;