.lightest { font-weight: 100; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.heavy { font-weight: 500; }
.heavier { font-weight: 700; }
.heaviest { font-weight: 900; }

.tiny { font-size: 0.7rem; }
.small { font-size: 0.85rem; }
.regular { font-size: 0.85rem; }
.big { font-size: 1.3rem; }
.huge { font-size: 1.8rem; }
.giant { font-size: 2.5rem; }