/// 
/// @name 02 - Mixins
/// Some helpful mixins.
/// @author Adam Hopkins
/// 

/// Check whether list contains a variable
/// @return {Bool} (false == index($list, $var));
@function contains($list, $var) {
    @return (null != index($list, $var));
}

@function greatest-common-denominator($a, $b) {
	@while $b > 0 {
		$c: $a % $b;
		$a: $b;
		$b: $c;
	}
	@return $a;
}

@function str-replace($string, $search, $replace: '') {
  $string: quote($string);
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}