@import "02_mixins";
@import "03_variables";

.absolute { position: absolute; }
.fixed { position: fixed; }
.static { position: static; }
.relative { position: relative; }

.left { float: left; }
.right { float: right; }
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }

.center-align { text-align: center; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.justify-align { text-align: justify; }

.z-index--1 { z-index: -1; }
.z-index-0 { z-index: 0; }
.z-index-1 { z-index: 1; }
.z-index-2 { z-index: 2; }

.overflow-none { overflow: none; }

.divider {
    height: 0;
    width: 100%;
    border-top: 1px solid #757575;
}

.badge { 
    position: relative; 
    display: inline-block;
}
.badge::after {
    content:attr(data-badge);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FD5B03;
    height: 1rem;
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
}
.badge.new::after { content:attr(data-badge) "\20new"; }

.hide { display: none; }

.circle { border-radius: 50%; }

$directions-list: (
    (left, right),
    (top, bottom),
    (top),
    (right),
    (bottom),
    (left),
);
@each $size in $breathe-sizes {
  $label: str-replace($size, "px", "");
  .breathe-#{$label} {
    margin: $size;
  }
  .pad-#{$label} {
    padding: $size;
  }
}
@each $directions in $directions-list {
  $result: "";
  
  @each $direction in $directions {
    $letter: str-slice($direction, 0, 1);
    $result: $result + $letter;
  }
  @each $size in $breathe-sizes {
    $label: str-replace($size, "px", "");
    .breathe-#{$result}-#{$label} {
      @each $direction in $directions {
        margin-#{$direction}: $size;
      }
    }
  }
}
